.photograph-header {
  width: 90%;
  margin: auto;
  height: 313px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  border: solid;
}

.countryTitle {
  order: 0;
  border: solid red;
}
.countryTitle .nameElement {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
  border: solid yellow;
}
.countryTitle .countryBlock {
  border: solid blue;
}
.countryTitle .countryBlock .countryElement {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}
.countryTitle .countryBlock .descripElement {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}

.imgBlock {
  order: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.imgBlock img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.contact_button {
  order: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  width: 90%;
  margin: auto;
  border: solid black;
}

.articleContainer {
  width: 90%;
  margin: auto;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid black;
}

.articlePortfolioitem {
  width: 32%;
  height: 351px;
  margin-bottom: 20px;
  border: solid blue;
}

.articlePortfolio__item {
  width: 90%;
  margin: auto;
  height: 351px;
  border: solid red;
}
.articlePortfolio__item--img {
  height: 85%;
  border-radius: 5px;
}
.articlePortfolio__item--img .photographerImg {
  width: 100%;
  height: 100%;
  border-radius: 5px 5px 0 0;
}
.articlePortfolio__item--description {
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  border: solid yellow;
}
.articlePortfolio__item--description .description__titre {
  width: 85%;
  height: 49px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  border: solid pink;
}
.articlePortfolio__item--description .description__numLike {
  width: 15%;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  border: solid black;
}
.articlePortfolio__item--description .description__numLike span .fa-heart {
  margin-left: 10px;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  margin-bottom: 50px;
}
header .logo {
  width: 200px;
  height: 50px;
}

.photographer_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  width: 32.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
article .cercle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
article .linkPicture {
  text-decoration: none;
  color: #D3573C;
}
article .linkPicture h2 {
  text-align: center;
  margin-bottom: -10px;
}
article .countryElement {
  color: #D3573C;
}
article .taglineElement {
  margin-top: -10px;
}
article .wrapper {
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
