@charset "UTF-8";
main {
  box-sizing: border-box;
  position: relative;
}

.photograph-header {
  width: 90%;
  margin: auto;
  height: 313px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  position: relative;
  border: solid;
}
.photograph-header #formulaireContact {
  width: 30%;
  height: auto;
  position: absolute;
  top: 50%; /* Centre verticalement en utilisant la moitié de la hauteur du parent */
  left: 35%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: #DB8876;
  border-radius: 5px;
}
.photograph-header #formulaireContact .titreContact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  border: solid;
}
.photograph-header #formulaireContact .titreContact .titreContact__image {
  width: 20%;
  display: flex;
  justify-content: end;
  font-size: 30px;
  color: white;
  border: solid blue;
}
.photograph-header #formulaireContact .titreContact .titreContact__itre {
  width: 80%;
  font-size: 50px;
  font-weight: 400;
  border: solid red;
}
.photograph-header #formulaireContact .tailleContainer {
  width: 90%;
  margin: auto;
}
.photograph-header #formulaireContact input {
  height: 50px;
  border-radius: 5px;
  position: relative;
  margin-left: 20px;
}
.photograph-header #formulaireContact textarea {
  border-radius: 5px;
  height: 100px;
}
.photograph-header #formulaireContact label {
  font-size: 26px;
  font-weight: 400;
  opacity: 0.7;
  position: relative;
  border: solid yellow;
}
.photograph-header #formulaireContact .inputbtn {
  width: 170px;
  height: 50px;
  color: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #901C1C;
}

.countryTitle {
  order: 0;
  border: solid red;
}
.countryTitle .nameElement {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
  border: solid yellow;
}
.countryTitle .countryBlock {
  border: solid blue;
}
.countryTitle .countryBlock .countryElement {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}
.countryTitle .countryBlock .descripElement {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}

.imgBlock {
  order: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*
  img{


      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
  */
}

.contact_button {
  order: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.form {
  width: 90%;
  margin: auto;
  border: solid black;
}

.articleContainer {
  /*
  width: 90%;
  margin: auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  margin-top: 20px;

  border: solid black;
  */
}

.articlePortfolioitem {
  width: 32%;
  height: 351px;
  margin-bottom: 20px;
  border: solid blue;
}

.articlePortfolio__item {
  width: 90%;
  margin: auto;
  height: 351px;
  display: flex;
  flex-direction: column;
  border: solid red;
}
.articlePortfolio__item--img {
  height: 85%;
  border-radius: 5px 5px 0 0;
  /*
  .photographerImg{

      width: 100%;
      height: 100%;
      border-radius: 5px 5px 0 0;
      //background-size: cover;
  }
  */
}
.articlePortfolio__item--description {
  width: 100%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  border: solid yellow;
}
.articlePortfolio__item--description .description__titre {
  width: 78%;
  height: 49px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
  border: solid pink;
}
.articlePortfolio__item--description .description__numLike {
  width: 22%;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  position: relative;
  border: solid green;
}

/******* coeur de chaque media ici car bug lorsque je le met dans un selecteur parent*********/
.fa-heart {
  font-size: 34px;
  font-weight: 500;
  color: #901C1C;
  cursor: pointer;
}

.numberLikes {
  width: 40%;
  border: solid;
}

.heartLikeMedia {
  width: 60%;
  text-align: right;
  border: solid blue;
}

.totalBlock {
  width: 375px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #DB8876;
  font-size: 34px;
  font-weight: 500;
}
.totalBlock .priceLikeTotal__like {
  width: 50%;
  display: flex;
  justify-content: center;
}
.totalBlock .priceLikeTotal__like i {
  color: black;
  margin-left: 10px;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  margin-bottom: 50px;
}
header .logo {
  width: 200px;
  height: 50px;
}

.photographer_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  width: 32.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
article .cercle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
article .linkPicture {
  text-decoration: none;
  color: #D3573C;
}
article .linkPicture h2 {
  text-align: center;
  margin-bottom: -10px;
}
article .countryElement {
  color: #D3573C;
}
article .taglineElement {
  margin-top: -10px;
}
article .wrapper {
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
