@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
main {
  box-sizing: border-box;
  position: relative;
  z-index: 0;
}

.photograph-header {
  width: 81%;
  margin: auto;
  height: 313px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  position: relative;
  padding-right: 50px;
  padding-left: 50px;
}

.countryTitle {
  order: 0;
  width: 20%;
}
.countryTitle .nameElement {
  font-size: 36px;
  font-weight: 400;
  line-height: 47px;
  color: #D3573C;
}
.countryTitle .countryBlock .countryElement {
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}
.countryTitle .countryBlock .descripElement {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #525252;
}

.imgBlock {
  order: 2;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*
  img{


      width: 200px;
      height: 200px;
      border-radius: 50%;
  }
  */
}

.contact_button {
  order: 1;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.formFilterContainer {
  width: 87%;
  margin: auto;
  margin-bottom: 20px;
}

.form {
  width: 20%;
  display: flex;
  justify-content: space-between;
  position: relative;
  /*
  #deuxiemeFormulaire{

      width: 75%; //170px

      display: flex;
      flex-direction: column;
     // position: relative;


      border: solid yellow;


      select{

          width: 170px;
          border: solid $colorPrimairy;
          border-radius: 5px;
          //border: none;
          padding-left: 5px;
          overflow: hidden;
          background-color: $colorPrimairy;
          display:flex; 
          justify-content: center;



          option{

              width: 180px;
              height: 40px;
              font-weight: 400;
              font-size: 20px;

              cursor: pointer;

              ////////////////////////

              padding-top: -50px;
              //display: flex;
              //justify-content: center;

              // border-bottom: 2px solid white; 
              //padding-bottom: 25px;

              ////////////////////:::::

              padding-top: 25px;
              background-color: $colorPrimairy;
              color: white;


          }
          .optionBar{

              border-bottom: 1px solid white; 
          }




      }*/
  /*
      .optionPopularite{

          width: 180px;//160px;
          height: 70px;//40px;
          border-radius: 5px;
          background-color: $colorPrimairy;
          color: white;
          font-weight: 400;
          font-size: 20px;
          cursor: pointer;

          display: flex;
          justify-content: space-around;
          align-items: center;
          border: solid $colorPrimairy;


          //border: solid blue;

          span{

              display: inline-block;
              width: 40%;

              //border: solid black;

              i{
                    margin-left: 40px;
              }
          }
      }

      .arrowUp{

          position: absolute;
          top: 30px;
          left: 200px;
          font-size: 22px;
          color: white;
      }




  }
   */
}
.form .filterTitre {
  width: 25%;
  padding-top: 30px;
  /*
  position: absolute;
  top: 23px;
  */
}
.form .filterTitre2 {
  width: 25%;
  padding-top: 25px;
}

.articlePortfolioitem {
  width: 32%;
  height: 500px;
  margin-bottom: 20px;
}

.articlePortfolio__item {
  width: 90%;
  margin: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.articlePortfolio__item--img {
  width: 100%;
  height: 85%;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  padding: 0px;
}
.articlePortfolio__item--img .videoMiniature {
  width: 100%;
  height: 100%;
}
.articlePortfolio__item--img .child {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: solid 1px rgb(233, 231, 231);
}
.articlePortfolio__item--description {
  width: 100%;
  height: 11%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
}
.articlePortfolio__item--description button {
  border: solid white;
  background-color: white;
}
.articlePortfolio__item--description .description__titre {
  width: 80%;
  height: 49px;
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 400;
}
.articlePortfolio__item--description .description__numLike {
  width: 20%;
  height: 49px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  position: relative;
}
.articlePortfolio__item--description .heartLikeMedia {
  position: relative;
  right: -5px;
  width: 50%;
  text-align: right;
}

/******* coeur de chaque media ici car bug lorsque je le met dans un selecteur parent*********/
.fa-heart {
  font-size: 34px;
  font-weight: 500;
  color: #901C1C;
  cursor: pointer;
}

.numberLikes {
  width: 50%;
}

.heartLikeMedia {
  width: 50%;
  text-align: right;
  padding: 0px;
  border: solid blue;
}

.totalBlock {
  width: 375px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #DB8876;
  font-size: 34px;
  font-weight: 500;
}
.totalBlock .priceLikeTotal__like {
  width: 50%;
  display: flex;
  justify-content: center;
}
.totalBlock .priceLikeTotal__like i {
  color: black;
  margin-left: 10px;
}

.containerFormulaireContact {
  width: 30%;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.containerFormulaireContact #formulaireContact {
  width: 95%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #DB8876;
  border-radius: 5px;
  box-shadow: -5px 3px 32px -5px #000000;
}
.containerFormulaireContact #formulaireContact .titreContact {
  width: 92%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}
.containerFormulaireContact #formulaireContact .titreContact .titreContact__image {
  width: 8%;
  height: 40px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 32px;
  color: white;
  position: relative;
  top: -37px;
  border: solid #DB8876;
  background-color: #DB8876;
  cursor: pointer;
}
.containerFormulaireContact #formulaireContact .titreContact .titreContact__itre {
  width: 80%;
  height: 50px;
  font-size: 50px;
  font-weight: 400;
  position: relative;
  top: -40px;
}
.containerFormulaireContact #formulaireContact .tailleContainer {
  width: 90%;
  margin: auto;
}
.containerFormulaireContact #formulaireContact input {
  height: 50px;
  border-radius: 5px;
  position: relative;
  left: 20px;
  border: solid white;
}
.containerFormulaireContact #formulaireContact textarea {
  border: solid white;
  border-radius: 5px;
  height: 100px;
  position: relative;
  left: 20px;
}
.containerFormulaireContact #formulaireContact label {
  font-size: 26px;
  font-weight: 400;
  opacity: 0.7;
  position: relative;
  padding-left: 20px;
}
.containerFormulaireContact #formulaireContact .inputbtn {
  width: 170px;
  height: 50px;
  color: white;
  border: solid #901C1C;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #901C1C;
  cursor: pointer;
}

.containerLightbox {
  height: 700px;
}
.containerLightbox .lightbox {
  width: 60%;
  height: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /*
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  */
  background-color: white;
}
.containerLightbox .lightbox .containerMediaImg {
  width: 85%;
  border-radius: 5px;
}
.containerLightbox .lightbox .containerMediaImg .image {
  width: 100%;
  height: 550px;
  border-radius: 5px;
}
.containerLightbox .lightbox .containerMediaImg .image .child {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.containerLightbox .lightbox .containerMediaImg .titreLightbox {
  height: 30px;
  display: flex;
  align-items: center;
  color: #901C1C;
}
.containerLightbox .lightbox .containerMediaImg video {
  width: 100%;
  height: 100%;
}
.containerLightbox .lightbox .arrowContainerlightbox {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerLightbox .lightbox .arrowContainerlightbox .lockLightbox {
  height: 50px;
  display: flex;
  justify-content: end;
}
.containerLightbox .lightbox .arrowContainerlightbox .lockLightbox i {
  font-size: 2.5em;
  color: #901C1C;
}
.containerLightbox .lightbox .arrowContainerlightbox .arrowrigthLeft {
  height: 550px;
}
.containerLightbox .lightbox .arrowContainerlightbox .arrowrigth {
  font-size: 2.5em;
  color: #901C1C;
  display: flex;
  justify-content: end;
  align-items: center;
}
.containerLightbox .lightbox .arrowContainerlightbox .arrowrigth i {
  cursor: pointer;
}
.containerLightbox .lightbox .arrowContainerlightbox .arrowleft {
  font-size: 2.5em;
  color: #901C1C;
  display: flex;
  justify-content: start;
  align-items: center;
}
.containerLightbox .lightbox .arrowContainerlightbox button {
  border: solid white;
  background-color: white;
  cursor: pointer;
}
.containerLightbox .lightbox .arrowContainerlightbox button i {
  font-size: 2.5em;
  color: #901C1C;
  cursor: pointer;
}

#deuxiemeFormulaire {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: start;
  padding-bottom: 20px;
}
#deuxiemeFormulaire .titreFilter1 {
  height: 60px;
  display: flex;
  align-items: center;
}
#deuxiemeFormulaire .titreFilter2 {
  height: 60px;
}
#deuxiemeFormulaire .titreFilter2 p {
  position: relative;
  top: 20px;
}
#deuxiemeFormulaire #sort-wrapper {
  width: 200px;
  padding-left: 30px;
}
#deuxiemeFormulaire #sort-wrapper .optionPopularite {
  width: 100%;
  height: 60px;
  margin: auto;
  background-color: #901C1C;
  color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
#deuxiemeFormulaire #sort-wrapper .optionPopularite .spanPopularite1 {
  position: relative;
  left: -20px;
}
#deuxiemeFormulaire #sort-wrapper .optionPopularite .arrowDown {
  position: relative;
  left: 20px;
}
#deuxiemeFormulaire #sort-wrapper ul {
  width: 200px;
  border-radius: 5px;
  background-color: #901C1C;
  padding: 0;
  list-style: none;
}
#deuxiemeFormulaire #sort-wrapper ul li {
  width: 87%;
  height: 60px;
  margin: auto;
}
#deuxiemeFormulaire #sort-wrapper ul li button {
  background-color: #901C1C;
  color: white;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
#deuxiemeFormulaire #sort-wrapper ul .optionBar {
  border-bottom: 2px solid white;
}
#deuxiemeFormulaire #sort-wrapper ul .containerPopulariteArrow {
  width: 100%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#deuxiemeFormulaire #sort-wrapper ul .containerPopulariteArrow .spanPopularite {
  width: 70%;
  padding-left: 10px;
}
#deuxiemeFormulaire #sort-wrapper ul .containerPopulariteArrow .spanArrowUp {
  width: 30%;
  display: flex;
  justify-content: center;
}
#deuxiemeFormulaire #sort-wrapper ul .btnDate {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#deuxiemeFormulaire #sort-wrapper ul .btnTitre {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

body {
  font-family: "DM Sans", sans-serif;
}

header {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  margin-bottom: 50px;
}
header .logo {
  width: 200px;
  height: 50px;
}

.photographer_section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  width: 32.7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
article .cercle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
article .linkPicture {
  text-decoration: none;
  color: #D3573C;
}
article .linkPicture img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
article .linkPicture h2 {
  text-align: center;
  margin-bottom: -10px;
}
article .countryElement {
  color: #D3573C;
}
article .taglineElement {
  margin-top: -10px;
}
article .wrapper {
  margin-top: -10px;
}

/*# sourceMappingURL=style.css.map */
