
main{

    box-sizing: border-box;
    position: relative;
    z-index: 0;

    
}
.photograph-header{

    width: 81%;//90%;
    margin: auto;
    height: 313px;
    margin-bottom: 20px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA; 
    position: relative;
    padding-right: 50px;
    padding-left: 50px;

    // border: solid black;

    

}

.countryTitle {

    order: 0;
    width: 20%;

  // border: solid red;

    .nameElement{

        font-size: 36px;
        font-weight: 400;
        line-height: 47px;
      
       // text-align: center;
        color: $colorsecond;
       
       // border: solid yellow;
    }
    .countryBlock{

       

       // border: solid blue;

        .countryElement{

            font-size: 24px;
            font-weight: 400;
            line-height: 31px;
            letter-spacing: 0em;
            text-align: left;
            color:  $colorPrimairy;;

        }
        .descripElement{

            font-size: 18px;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

            color: $colorBlackthird;
        }

    }
}

.imgBlock{

    order: 2; //détermination de la position dans le parent
    width: 200px;
    height: 200px;
    border-radius: 50%;

    //border: solid black;

    /*
    img{

    
        width: 200px;
        height: 200px;
        border-radius: 50%;
    }
    */
}

.contact_button{

   
    order: 1;
   @include boutons();
    
}

.formFilterContainer{

    width: 87%; //90%;
    margin: auto;
    margin-bottom: 20px;

   // border: solid yellow;
}

.form{

    width: 20%;
   // margin-left: 65px;
    display: flex;
    justify-content: space-between;
    position: relative;
   // margin: auto;
    

   // border: solid blue;

    .filterTitre{

        width: 25%; // 75px
        padding-top: 30px;
        /*
        position: absolute;
        top: 23px;
        */

       // border: solid black;
    }
    .filterTitre2{

        width: 25%;
        padding-top: 25px;
         //75px;
        //position: relative;
       // top: 3px;

       // border: solid black;
    }

    /*
    #deuxiemeFormulaire{

        width: 75%; //170px
       
        display: flex;
        flex-direction: column;
       // position: relative;
        
      
        border: solid yellow;

        
        select{

            width: 170px;
            border: solid $colorPrimairy;
            border-radius: 5px;
            //border: none;
            padding-left: 5px;
            overflow: hidden;
            background-color: $colorPrimairy;
            display:flex; 
            justify-content: center;

            

            option{

                width: 180px;
                height: 40px;
                font-weight: 400;
                font-size: 20px;

                cursor: pointer;

                ////////////////////////
                
                padding-top: -50px;
                //display: flex;
                //justify-content: center;
              
                // border-bottom: 2px solid white; 
                //padding-bottom: 25px;
                
                ////////////////////:::::
                
                padding-top: 25px;
                background-color: $colorPrimairy;
                color: white;
              
                
            }
            .optionBar{

                border-bottom: 1px solid white; 
            }

            

            
        }*/

       /*
        .optionPopularite{

            width: 180px;//160px;
            height: 70px;//40px;
            border-radius: 5px;
            background-color: $colorPrimairy;
            color: white;
            font-weight: 400;
            font-size: 20px;
            cursor: pointer;
           
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: solid $colorPrimairy;
            
            
            //border: solid blue;

            span{

                display: inline-block;
                width: 40%;

                //border: solid black;

                i{
                      margin-left: 40px;
                }
            }
        }

        .arrowUp{

            position: absolute;
            top: 30px;
            left: 200px;
            font-size: 22px;
            color: white;
        }
        


        
    }
     */
   
}



.articlePortfolioitem{ 

    width: 32%;
    height: 500px;//351px;
    margin-bottom: 20px;

   // border: solid blue;

   

}
.articlePortfolio__item{

   // width: 350px;
   width: 90%;
   margin: auto;
   height: 500px;//351px;
   display: flex;
   flex-direction: column;


   // border: solid red;

    &--img{

       width: 100%;
        height: 85%; //300px
        border-radius: 5px;
        cursor: pointer;
        border: none;
       // background-color: white;
        padding: 0px;
        //border: solid red;

        .videoMiniature{

            width: 100%;
            height: 100%;
           // height: 400px;
           //border: solid red;
        }

        

        .child {
            border-radius: 5px;
            width: 100%; 
            height: 100%;
            object-fit: cover;
            
            //border: solid blue;
            border: solid 1px rgb(233, 231, 231);
        
        }


    }

    &--description{

        width: 100%;
        height: 11%; //51px
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;      
        color: $colorPrimairy;
       

        
       // border: solid yellow;

        button{

            border: solid white;
            background-color: white;
           }

        .description__titre{

            
            width: 80%;//78%;
            height: 49px; 
            display: flex;
            align-items: center;
            font-size: 24px;
            font-weight: 400;
            //text-align: left;

           // border: solid pink;

        }
        .description__numLike{

            width: 20%;//22%;
            height: 49px; 
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 24px;
            font-weight: 500;
            position: relative;
           
           // border: solid green;

            

           
            
        }

        .heartLikeMedia{

            position: relative;
            right: -5px;
            width: 50%;
            text-align: right;
            

            
           // border: solid blue;
        
            
            
        }

        
    }

    
}

/******* coeur de chaque media ici car bug lorsque je le met dans un selecteur parent*********/

.fa-heart{
                     
     font-size: 34px;
     font-weight: 500;          
     color: $colorPrimairy;
     cursor: pointer;
}

.numberLikes{

    width: 50%;
    
   // border: solid;
}
.heartLikeMedia{

    width: 50%;
    text-align: right;
    padding: 0px;

    border: solid blue;

    
    
}

  
.totalBlock{

    width:  375px;//20%;
    height: 60px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: $colorBlockTotal;
    font-size: 34px;
    font-weight: 500;

   // border: solid red;

    .priceLikeTotal__like{

        width: 50%;
        display: flex;
        justify-content: center;
        //border: solid yellow;
    
    
        i{
            color: black;
            margin-left: 10px;
        }

    }

}


//style duformulaire contact
.containerFormulaireContact{

    width: 30%;
   // height: 750px;
    margin: auto;
    position: absolute;
   // top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    //border: solid red;


    #formulaireContact{

        // border: solid red;
         width: 95%;
         margin: auto;
         //height: 750px;
         height: auto;
         
         display: flex;
         flex-direction: column;
         justify-content: center;
         background-color: #DB8876;
         border-radius: 5px;
         
        
         box-shadow: -5px 3px 32px -5px #000000;
        
 
         .titreContact{
 
            width: 92%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: auto;
            // padding-top: -20px;
          
            // border: solid black;
 
             .titreContact__image{
 
                 width: 8%;
                 height: 40px;
                 display: flex;
                 justify-content: end;
                 align-items: center;
                 font-size: 32px;
                 color: white;
                 position: relative;
                 top: -37px;
                 border: solid $colorBlockTotal;
                 background-color: $colorBlockTotal;
                 cursor: pointer;

                 //border: solid blue;
             }
 
             .titreContact__itre{
               
                 width: 80%;
                 height: 50px;
                 font-size: 50px;
                 font-weight: 400;
                 position: relative;
                 top: -40px;

                // border: solid red;
             }
 
         }
         .tailleContainer{
 
             width: 90%;
             margin: auto;
            
         }
 
         input{
 
         
             height: 50px;
             border-radius: 5px;
             position: relative;
             left: 20px;
             border: solid white;
          
          // border: solid blue;
 
           
         }
         textarea{
 
             border: solid white;
             border-radius: 5px;
             height: 100px;
             position: relative;
             left: 20px;

            
         }
        
         label{
 
             font-size: 26px;
             font-weight: 400;
             opacity: 0.7;
             position: relative;
             //top: 10px;
             padding-left: 20px;

            // border: solid yellow;
         }
         .inputbtn{
 
             width: 170px;
             height: 50px;
             color: white;
             border: solid $colorPrimairy;
             border-radius: 5px;
             //margin-left: 20px;
             margin-top: 10px;
             margin-bottom: 20px;
             background-color: $colorPrimairy;
             cursor: pointer;
         }
 
     }


 }

 //style de la lightbox

 

 .containerLightbox{

    height: 700px;
  // border: solid red;
   
    .lightbox{

        width: 60%;
        height: 600px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        /*
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        */
        background-color: white;
       // box-shadow: -5px 3px 32px -5px #000000;
       // border: solid red;

        .containerMediaImg{
    
            width: 85%;
            border-radius: 5px;
            //height: 100%;

           // border: solid black;

            .image{


                width: 100%;
                height: 550px;
                border-radius: 5px;
               // border: solid blue;

               .child {
                width: 100%; 
                height: 100%; 
                object-fit: cover; 
                border-radius: 5px;

                //background-color: red;
            }
            }

            .titreLightbox{

                height: 30px;
                display: flex;
                align-items: center;
                color: $colorPrimairy;
                
               // border: solid red;
            }
            
            video{

                
                width: 100%;
                height: 100%;
                
            }

           
        }

       
        .arrowContainerlightbox{
    
            width: 50px;
            //height: 100%;
            
            display: flex;
            flex-direction: column;
            justify-content: space-between;
           
            
           // border: solid yellow;

            .lockLightbox{


                height: 50px;
                display: flex;
                justify-content: end;
               // border: solid blue;

                i{

                    font-size: 2.5em; //ça fait 24px
                    color: $colorPrimairy;
                }

            }
            .arrowrigthLeft{

                height: 550px;
                

                //border: solid green;

            }
            .arrowrigth{

                font-size: 2.5em; //ça fait 24px
                color: $colorPrimairy;
                display: flex;
                justify-content: end;
                align-items: center;
               
                i{

                    cursor: pointer;
                }

            }
            .arrowleft{

                font-size: 2.5em; //ça fait 24px
                color: $colorPrimairy;
                display: flex;
                justify-content: start;
                align-items: center;
               

            }

            button{

                border: solid white;
                background-color: white;
                cursor: pointer;

                i{

                    font-size: 2.5em; //ça fait 24px
                    color: $colorPrimairy;
                    cursor: pointer;
                }
            }
        }
    }
   
 }


    


//style du filtre
#deuxiemeFormulaire{


    width: 87%;
    margin: auto;
    display: flex;
    justify-content: start;
    padding-bottom: 20px;

   // border: solid yellow;

    .titreFilter1{

        height: 60px;
        display: flex;
        align-items: center;

        
      //  border: solid red;
    }
    .titreFilter2{

        height: 60px;
       
       // border: solid red;

        p{

            position: relative;
            top: 20px;
        }
    }

    #sort-wrapper{

        width: 200px;
       // height: auto;
        padding-left: 30px;

       // border: solid blue;

        .optionPopularite{

            width: 100%;
            height: 60px;
            margin: auto;
            background-color: $colorPrimairy;
            color: white;
            font-weight: 400;
            font-size: 20px;
            cursor: pointer;
            border: none;
            border-radius: 5px;
          

            .spanPopularite1{

                position: relative;
                left: -20px;
                
               // border: solid white;
            }

            .arrowDown{

                position: relative;
                left: 20px;

               // border: solid white;
            }

        }

        ul{

            width: 200px;
           // width: 90%;
            border-radius: 5px;
            background-color: $colorPrimairy;
            padding: 0; 
            list-style: none;

            //border: solid red;

            li{

                width: 87%;
                height: 60px;
                margin: auto;
                
                //border-radius: 5px;
                button{

                    background-color: $colorPrimairy;
                    color: white;
                    font-weight: 400;
                    font-size: 20px;
                    cursor: pointer;
                    border: none;
                }
            

               // border: solid black;
              
                
                
                
            }
            .optionBar{
                border-bottom: 2px solid white; 

            }

            .containerPopulariteArrow{

                width: 100%;
                height: 100%;
                margin: auto;
                display: flex;
                justify-content: space-around;
                align-items: center;
             

               // border: solid yellow;

                .spanPopularite{

                    
                    width: 70%;
                    padding-left: 10px;
                   // border: solid blue;
                }
                .spanArrowUp{

                    width: 30%;
                    display: flex;
                    justify-content: center;
              
                   // border: solid green;
                }

                
            }

            .btnDate{
               
                width: 100%;
                height: 100%;
              
                display: flex;
                align-items: center;
                //margin-left: 15px;
              
            }
            .btnTitre{

                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
               // margin-left: 15px;

            }

            
            
            
        }
    }

}









  
  
  
  
  
  
  






